@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #EEEEEF;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #000;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
/*.scroll-section-outer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: orangered;
  z-index: 999;
}*/

.scroll-section-inner {
  height: 100vh;
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
   /*width: 100vw;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}




/* HomePage Section Two */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 900px!important; */
}
.swiper-slide-active{
  /* width: 900px!important; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*.homeTitle {*/

/*  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);*/
/*  !*color: red;*!*/
/*}*/

.lineParent{
  overflow: hidden;
}

.lineChildren{
  transform: translate(0, 500px);
}


.box{
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-bottom: 600px;
}


.a{
  background: green;
}
.b{
  background: yellow;
}

.c{
  background: orangered;
}

