@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #EEEEEF;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #000;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
/*.scroll-section-outer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: orangered;
  z-index: 999;
}*/

.scroll-section-inner {
  height: 100vh;
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
   /*width: 100vw;*/
   /*display: block;*/
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}




/* HomePage Section Two */


.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-active{
  /* width: 900px!important; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 438px;
}

.slide-wrapp {
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: transform .25s cubic-bezier(.25,.46,.45,.94);
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}


.swiper-slide.is-galerie-projet {
  width: 728px!important;
  height: 100%;
  min-height: auto;
}

.swiper-wrapper.is-projet-galerie {
  height: 100%;
  max-width: 100vw;
  align-items: center;
  display: flex;
}


.swiper-slide.is-galerie-projet:not(.swiper-slide-active, .swiper-slide-duplicate-active) .slide-wrapp {
  transform: scale(.8);
  pointer-events: none;
  transition-property: transform;
  transition-duration: 600ms;
}

.swiper-slide.is-galerie-projet:not(.swiper-slide-active, .swiper-slide-duplicate-active) .category-title {
  transform: scale(.8);
  pointer-events: none;
  transition-property: transform;
  transition-duration: 600ms;
}

.swiper-slide.is-galerie-projet .slide-wrapp *:not(.projet-img-holder, .absolute-image) {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.swiper-slide.is-galerie-projet.swiper-slide-active .slide-wrapp *:not(.projet-img-holder, .absolute-image), .swiper-slide.is-galerie-projet.swiper-slide-duplicate-active .slide-wrapp *:not(.projet-img-holder, .absolute-image) {
  opacity: 1;
}

.absolute-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.w-inline-block {
  max-width: 100%;
  display: inline-block;
  height: 100%;
}*/


/*.swiper-slide.is-galerie-projet .slide-wrapp *:not(.projet-img-holder, .absolute-image) {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

.swiper-slide.is-galerie-projet.swiper-slide-active .slide-wrapp *:not(.projet-img-holder, .absolute-image), .swiper-slide.is-galerie-projet.swiper-slide-duplicate-active .slide-wrapp *:not(.projet-img-holder, .absolute-image) {
  opacity: 1;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}*/

.main-menu {
  list-style-type: none;
}

.wrapper {
  width: 88%;
  margin: 0 auto;
}

nav {
  position: relative;
  height: 10rem;
  background-color: linen;
  z-index: 10;

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .ham {
    margin-left: auto;

    span {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .main-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: -1;

    background-color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  opacity: 0;
    height: 0;

    li {
      margin: 1rem 0;
      font-size: 3rem;
    }
  }
}


.image-zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  transition: transform 0.5s;
}

.zoom-image:hover {
  transform: scale(1.1)!important;
}


.link-underline, .link-underline div {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black, .link-underline div {
  margin-top: 14px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000000, #000000)
}

.link-underline:hover, .link-underline div:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}

.link-underline-black.active {
  background-size: 100% 1px;
  background-position: 0 100%;
}



.link-underline2 div {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1.5px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline2 div {
  margin-top: 5px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ffffff, #ffffff)
}

.link-underline2 div:hover {
  background-size: 100% 1.5px;
  background-position: 0 100%;
}


#imgContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

#imgContainer .motiv{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.motiv h1{
  margin:0;
  padding-left:50px;
  font-size:130px;
  font-family:sans-serif;
  line-height:100vh;
  color:#909090;
}


.motiv img{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}


.project-mobile-nav div {
  text-align: left!important;
  z-index: 999!important;
}





/* CSS media query for screens with a maximum width of 768 pixels */
@media only screen and (max-width: 961px) {
  .scroll-section-inner {
    height: 100%!important;
    width: 100%!important;
    display: block;
    flex-direction: row;
    position: relative;
  }

  .scroll-section {
    height: auto!important;
    width: auto!important;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .pin-spacer{
    height: auto!important;
  }
}

@media only screen and (max-width: 540px) {
  .homeTitle{
    font-size: 60px;
  }
}

/* CSS media query for screens with a maximum width of 768 pixels */
@media only screen and (max-width: 500px) {
  .homeTitle{
    font-size: 45px;
  }
}

/* CSS media query for screens with a maximum width of 768 pixels */
@media only screen and (max-width: 390px) {
 .homeTitle{
   font-size: 40px;
 }
}








